
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    min-height: 90%;
    box-shadow: 10px 10px 5px grey;
}





.daydish {
    width: 100%;
    border: 1px solid #e3e3e3;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
}

.row-daydish-category {
    width: 100%;
    border: 1px solid #e3e3e3;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    color: #5a5a5a;
}

.row-daydish-header {
    border-bottom: solid;
    border-bottom-color: #00FF00;
    border-bottom-width: 1px;
}

.row-daydish > .col, .row-daycomplex > .col {
    margin-top: 3px;
    margin-bottom: 3px;
}

.row-daycomplex-item {
    margin-top: 3px;
    margin-bottom: 3px;
}

.row-daycomplex .checkbox-info {
    margin-left: 50px;
}

.btn-link.daydish[aria-expanded="true"]:hover, .btn-link.daydish[aria-expanded="true"]:focus {
    background-color: #4d2800
}

.btn-link.daydish:hover, .btn-link.daydish:focus {
    color: #23527c;
    text-decoration: none;
    background: #fff;
}

.expand, .dayname {
    float: left;
    display: block;
}

.dayname {
    color: #4d2800;
}

.daydish, .daydish:hover .expand {
    background: #fff
}


    .daydish[aria-expanded="true"], .expand::after, .daydish[aria-expanded="true"] .expand::before, .daydish .expand::after, .daydish .expand::before {
        background-color: #4d2800
    }

        .daydish[aria-expanded="true"] .expand::after, .daydish[aria-expanded="true"] .expand::before,
        .daydish:hover .expand::after, .daydish:hover .expand::before {
            background-color: #4d2800
        }

    .daydish .expand {
        background: #4d2800;
        border-radius: 50%;
        height: 30px;
        margin: 8px 18px 8px 32px;
        min-width: 30px;
        position: relative;
        -webkit-transition: .25s ease-out;
        transition: .25s ease-out;
        width: 30px
    }

        .daydish .expand::after, .daydish .expand::before {
            background-color: #fff;
            content: "";
            position: absolute;
            -webkit-transition: -webkit-transform .25s ease-out;
            transition: transform .25s ease-out, -webkit-transform .25s ease-out
        }

        .daydish .expand::before {
            height: 50%;
            left: 50%;
            margin-left: -1px;
            top: 25%;
            width: 2px
        }

        .daydish .expand::after {
            height: 2px;
            left: 25%;
            margin-top: -1px;
            top: 50%;
            width: 50%
        }


    .daydish[aria-expanded="true"] .expand::after, .daydish[aria-expanded="true"] .expand::before, .daydish[aria-expanded="true"] .expand::after,
    .daydish[aria-expanded="true"] .expand::before {
        background-color: #4d2800;
    }

    .daydish[aria-expanded="true"] .dayname {
        color: #FFFFFF;
    }

    .daydish[aria-expanded="true"] .expand {
        background: #fff
    }

        .daydish[aria-expanded="true"] .expand::before {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg)
        }

        .daydish[aria-expanded="true"] .expand::after {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg)
        }

.checkbox {
    padding-left: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: -5px;
    left: 0
}

.col > .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}


