
html {
    --main-font-color: #232323;
    font-family: Raleway, sans-serif;
    height: 100%;
}

body {
    font-family: Raleway, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    margin: 0 !important;
}

.rotate-image-cart {
    transform: rotate(180deg);
}

#register-form-styles .form-group label, #register-form-styles .form-group div {
    margin: 7px 0;
}

#register-form-styles .form-group label {
    font-size: 18px;
    color: #232323;

}

#register-form-styles .form-group {
    display: flex;
    justify-content: space-between;
}

#register-form-styles .form-group div input {
    padding-left: 15px;
}

.invisible-validation {
    display: none;
    position: absolute;
    bottom: -26px;

}

#register-form-styles .form-group div input:focus ~ .invisible-validation {
    display: inline;
}

.disabled-hovered {
    display: none;
    position: absolute;
    background: #464646;
    bottom: -140px;
    z-index: 100000;
    line-height: 16px;
    height: 133px;
    width: 12%;
    transition: 0.2s ease-in-out;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.weeks-tab li .day-of-week__past:hover + .disabled-hovered {
    display: flex;
}

.order-carousel .carousel-inner {
    overflow: hidden;
    height: 200px;
}

#register-form-styles .form-group div input:focus:invalid {
    border-color: red;
    box-shadow: 0 0 6px 0 red;
}

#register-form-styles .form-group div input:required:valid {
    border-color: #36C233;
    box-shadow: 0 0 6px 0 #36C233;
}

.span-gray-bg {
    background: none;
}

.change-w {
    font-size: 16px;
}

.money-w {
    font-size: 16px;
}

.shadow-cust {
    border-bottom: 1px solid #EAEAEA;;
}

.change-weight {
    font-weight: normal;
}

.custom-options {
    z-index: 10 !important;
}

.btn-for-type-menu {
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 22px;
    min-width: 122px;
    height: 34px;
    font-size: 16px;
    line-height: 16px;
    color: #797979;
    text-align: center;
}


.btn-for-type-menu--active {
    background: #36C233;;
    border: 1px solid #36C233;;
    color: #ffffff;
}

.modal-burger {
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    bottom: 0;
    background: #ffffff;
    z-index: 3000;
    display: none;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.modal-burger-toggle {
    left: 0;
    right: 0;
    display: none;
    visibility: hidden;
    flex-direction: column;
}


.button-burger-for-click {
    background-color: #ffffff;
    background: url("../img/close-main-modal.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}


.button-burger {
    background-color: #ffffff;
    background: url("../img/hamburger-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}


.button-order-done {
    background: #36C233;
    max-width: inherit;
    height: 100%;
    max-height: 112px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 23px;
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

#admin-side-client-cards .parent-delete:first-child {
    border-top: 14px solid #36C233 !important;
    border-bottom: 14px solid #36C233 !important;
    border-radius: 22px !important;
}



    .modal-burger-toggle {
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        transition: 0.4s ease-in-out;
        visibility: visible;
    }
